body {
    padding:0;
    margin:0;
}

body a {
    text-decoration: none;
    color: rgb(119,68,139);
}

p {
    font-family: 'Didact Gothic', sans-serif;
}
#fond {
    background-image: url(../img/background.jpg);
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;

}

#nav {
    position: fixed;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    width: 100vw;
    height: 50px;
    background-color:rgb(119,68,139);
    border-bottom: 2px solid rgb(55, 30, 70);
    z-index: 50;
}

#nav a {
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #ffffff;
    text-decoration: none;
    line-height: 0;
    text-align: center;
    padding: 24px 90px 0 90px;
    height: 20px;
}

.justRight:before {
    height: 50px;
    display: block;
    content: '';
}

#basic {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #ffffff;
    font-family: 'Amaranth', sans-serif;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 20px;
    text-shadow: -2px -2px rgb(119,68,139), 2px 2px rgb(119,68,139), -2px 2px rgb(119,68,139), 2px -2px rgb(119,68,139);
    width: 100%
}

h1 {
    font-size: 99px;
    /*margin-bottom: -75px;*/
}

#etu {
    font-size: 60px;
}

#corps {
    height: auto;
    text-align: center;
}

#corps h2 {
    font-family : 'Amaranth', sans-serif;
    font-size: 38px;
    color: #424949;
    margin-top: 0;
    padding-top: 20px;
}

#presentation {
    margin: 0 0 50px 25%;
    width: 50%;
}

#presentation p {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 20px;
    font-weight: normal;
    text-align: justify;
    margin: 0 30px 0 0;
}

#presentation img {
    border-radius: 50%;
    border: 3px solid rgb(119,68,139);
    height: 250px;
    margin: 0 50px 0 50px;
}

#parcours {
    overflow: hidden;
    height: auto;
    background-color: #e9e6ea;
    margin: 0;
    position: static;
}

#skills {
    height: auto;
    margin: 0;
    position: static;
}

#contain, #flexcontain{
    padding: 0;
    margin: 0;
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: center;
}

#contain .element {
    width: calc(100% /3 - 40px);
    min-width: 200px;
    max-width: 400px;
    margin: 0 20px 0 20px;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 20px;
}

#contain .element h3 {
    font-family: 'Amaranth', sans-serif;
    font-size: 29px;
    color: #424949;
}

#contain .element h4 {
    margin-bottom: 0px;
}

#contain .element h6 {
    font-weight: lighter;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 0px;
}

.flaticon-conversation, .flaticon-coding, .flaticon-thought {
    color: rgb(119,68,139);
}

#projects {
    background-color: #e9e6ea;
    height: auto;
}

#flexcontain > div {
    height: 300px;
    width: 300px;
    position: relative;
    margin: 0 20px 20px 0;
    cursor: pointer;
}

#flexcontain img, .noIMG {
    height: 300px;
    width: 300px;
    display: block;
    margin: 0 20px 20px 0;
}

.precision {

}

.noIMG {
    height: 294px;
    width: 294px;
    background: url("../img/no-photo.svg") no-repeat center;
    background-size: 75px;
    border-radius: 7px;
    border: 3px dashed rgb(119,68,139);
}

.overlay:hover {
    opacity : 0.90;
}

.overlay {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color : rgb(119,68,139);
    height: 300px;
    width: 300px;
    opacity: 0;
    transition: 0.8s;
}

.overlay p {
    position : absolute;
    padding: 20px;
    font-family: 'Didact Gothic', sans-serif;
    top: 50%;
    transform: translate(0%, -75%);
}

#blackBackground {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 99;
    cursor: pointer;
}

#info-master, #info-site, #info-2048, #info-rpg {
    position: fixed;
    display: none;
    width: 50%;
    height: auto;
    max-height: 90%;
    overflow-y: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid rgb(119,68,139);
    background-color: #fff;
    padding: 20px;
    z-index: 100;

}

#info-master img,
#info-site img,
#info-2048 img,
#info-rpg img {
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    cursor: pointer;
}

.visible {
    display: block;
}

.invisible {
    display: none;
}

@media screen and (min-width: 1080px) and (max-width: 1600px) {
    #presentation {
        margin: 0 0 50px 20%;
        width: 60%;
    }

}

@media screen and (min-width: 640px) and (max-width: 1079px) {
    #nav a {
        padding: 24px 35px 0 35px;
    }

    #presentation {
        margin: 0 0 50px 12.5%;
        width: 80%;
    }
    
}

@media screen and (max-width: 639px){
    #basic {
        line-height: 100px;
    }

    #nav a {
        padding: 24px 20px 0 20px;
    }

    #presentation {
        margin: 0 0 0 0;
        width: auto;
    }

    #parcours {
        height: 500px;
    }
}