{% extends 'office/base.html.twig' %}

{% block title %}
    Se connecter au back-office
{% endblock %}

{% block contenu %}
    {% if error %}
        <div id="errors">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% for message in app.flashes('success') %}
        <div id="successes">
            {{ message }}
        </div>
    {% endfor %}

    <h3>Connexion</h3>

    <form id="login-form" method="post">
        <div class="form-group">
            <label for="username">Username :</label>
            <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}">

            <label for="password">Password :</label>
            <input class="form-control" type="password" id="password" name="_password">

            <button type="submit" class="center-button btn btn-primary">Se connecter</button>
        </div>
    </form>

    <p style="text-align: center">Pas de compte ? Vous pouvez vous inscrire rapidement <a href="{{ path('registration') }}">ici</a>.</p>
{% endblock %}


