{% extends 'office/base.html.twig' %}

{% block title %}
    Se connecter au back-office
{% endblock %}

{% block contenu %}
    {% if error %}
        <div id="errors">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% for message in app.flashes('success') %}
        <div id="successes">
            {{ message }}
        </div>
    {% endfor %}

    <h3>Connexion</h3>
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <form id="login-form" method="post">
                <div class="form-group">
                    <label for="username">Username :</label>
                    <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}">

                    <label for="password">Password :</label>
                    <input class="form-control" type="password" id="password" name="_password">

                    <button type="submit" class="center-button btn btn-custom">Se connecter</button>
                </div>
            </form>
        </div>

        <div id="invite-login" class="col-sm-12 col-md-6 d-flex flex-column align-items-center mt-auto mb-auto">
            <p class="invite-text">Ou visitez le back-office en tant qu'invité</p><br />
            <a href="{{ path('login_invite') }}">
                <button type="submit" form="invite-form" class="btn btn-custom">Visiter en tant qu'invité</button>
            </a>
        </div>

    </div>

{% endblock %}


