{% extends 'office/base.html.twig' %}

{% block title %}
    Se connecter au back-office
{% endblock %}

{% block contenu %}
    {% if error %}
        <div id="errors">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <h3>Connexion</h3>

    <form id="login-form" method="post">
        <label for="username">Username :</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}">

        <label for="password">Password :</label>
        <input type="password" id="password" name="_password">

        <button type="submit">Se connecter</button>
    </form>
{% endblock %}


