body {
    background: url('../../img/background.jpg') no-repeat;
    background-size: cover;
    height: 100vh;
}

#error_page {
    font-family: 'Amaranth', sans-serif;
    color: #fff;
    text-shadow: -2px -2px rgb(119,68,139), 2px 2px rgb(119,68,139), -2px 2px rgb(119,68,139), 2px -2px rgb(119,68,139);
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

#err_num {
    font-size: 200px;
    font-weight: bold;
}

#err_mess {
    font-size: 75px;
    font-weight: bold;
}

#err_mess2 {
    font-size: 36px;
}

@media screen and (max-width: 639px) {

    #error_page {
        width: 85%;
    }

    #err_num {
        font-size: 120px;
        font-weight: bold;
    }

    #err_mess {
        font-size: 40px;
    }

    #err_mess2 {
        font-size: 26px;
    }

}
