.timeline {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow: auto;
    width: fit-content;
    padding-bottom: 50px;
}

.timeline:before, .timeline:after {
    content: '';
    margin: auto;
}

.time-cube {
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
    height: 200px;
    flex-basis: 300px;
    border: 4px solid #77448B;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #AAAAAA;
    background-color: #FFFFFF;
    margin: 10px;
    padding: 5px;
}

.first {
    margin-left: auto;
}

.last {
    margin-right: auto;
}

.current {
    height: 230px;
    flex-basis: 340px;
    border: 6px solid #77448B;
}

.time-cube-content {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.time-cube-title {
    font-family: 'Amaranth', sans-serif;
    font-size: 26px;
}

.time-cube-period {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 18px;
    font-style: italic;
    color: #727272;
}

.time-cube-description {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 18px;
}

.time-cube .arrow {
    position: absolute;
    bottom: 30%;
    left: 92%;
    height: 75px;
    z-index: 70;
}

.time-cube.future {
    border: 4px solid #656565;
}
