{% extends 'office/base.html.twig' %}

{% block contenu %}

   <div id="office_categories">
      <div class="row">
         <div class="office-category col" onclick="location.href='{{ path('index_general') }}'">
            <h3>Général</h3>
         </div>

         <div class="office-category col" onclick="location.href='{{ path('index_introduction') }}'">
            <h3>Présentation</h3>
         </div>
      </div>

      <div class="row">
         <div class="office-category col" onclick="location.href='{{ path('index_skills') }}'">
            <h3>Compétences</h3>
         </div>

         <div class="office-category col" onclick="location.href='{{ path('index_project') }}'">
            <h3>Projets</h3>
         </div>
      </div>
   </div>

{% endblock %}
