{% extends 'office/base.html.twig' %}

{% block contenu %}

   <div id="office_categories">
      <div class="row">
         <div class="office_category col" onclick="location.href='{{ path('index_general') }}'">
            <h3>Général</h3>
         </div>

         <div class="office_category col" onclick="location.href='{{ path('index_project') }}'">
            <h3>Les projets</h3>
         </div>
      </div>

   </div>

{% endblock %}
