{% extends 'base.html.twig' %}

{% block description %}
{% endblock %}

{% block title %}
    Maintenance en cours
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/errors/basic_errors.css') }}">
{% endblock %}

{% block fonts_and_stuff %}
{% endblock %}

{% block javascripts %}
{% endblock %}


{% block body %}
    <div id="error_page">
        <div id="err_num">503</div>
        <div id="err_mess">Maintenance en cours</div>
        <div id="err_mess2">Revenez plus tard !</div>
    </div>
{% endblock %}
