{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/errors/basic_errors.css') }}">
{% endblock %}

{% block fonts_and_stuff %}
{% endblock %}

{% block javascripts %}
{% endblock %}


{% block body %}
    <div id="error_page">
        <div id="err_num">403</div>
        <div id="err_mess">Accès refusé</div>
        <div id="err_mess2">Désolé, vous n'avez pas le droit de toucher à ça</div>
    </div>
{% endblock %}