<div id="photo-preview">
    {% for photo in photos %}
        <div class="one-photo">
            <img src="{{ asset(photo.path) }}">
            <button onclick="location.href='{{ path('delete_photo', {'id_photo': photo.id, 'id': photo.idProjet}) }}'"
                    class="btn btn-danger">
                <span class="oi oi-trash" title="trash" aria-hidden="true"></span> Supprimer
            </button>
        </div>
    {% endfor %}
</div>
